@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

button {
    padding: 10px 20px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  
button:focus {
   outline: 0;
}
  
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: white;
}

#tagbox-outer {
  margin: 10px 50px 10px 50px;
  padding: 14px 20px;
  height: 64px;
  border: 2px solid black;
}

.table {
  display: table;
  color:red;
  border-spacing: 5px;
}

ul.horizontal-tag-list {
  min-width: 700px;
  list-style: none;
  }

  ul.horizontal-tag-list li{
    display: inline-block;
  }

    ul.horizontal-tag-list #timeTag { 
      margin: 2px;
      text-align: center;
      width: 100px;
      color:whitesmoke;
      background-color: skyblue;
      border: 1px solid skyblue;
      border-radius: 20px;
      box-shadow:  0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      margin-bottom: 10px;
      cursor: pointer;
      transition: 0.3s;
    }
        ul.horizontal-tag-list #timeTag:hover{
            color:skyblue;
            background-color: whitesmoke;
        }

    ul.horizontal-tag-list #themeTag { 
      margin: 2px;
      text-align: center;
      width: 100px;
      color:whitesmoke;
      background-color: #547aa5;
      border: 1px solid #547aa5;
      border-radius: 20px;
      box-shadow:  0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      margin-bottom: 10px;
      cursor: pointer;
      transition: 0.3s;
    }
        ul.horizontal-tag-list #themeTag:hover{
            color:#547aa5;
            background-color: whitesmoke;
        }

.timeTags #timeTag {
    width: 100px;
    color:skyblue;
    background-color: whitesmoke;
    border: 1px solid skyblue;
    border-radius: 20px;
    box-shadow:  0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}
    .timeTags #timeTag:hover{
        color:whitesmoke;
        background-color: skyblue;
    }
  
.themeTags #themeTag{
    width: 100px;
    color: #547aa5;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 1px solid #547aa5;
    box-shadow:  0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
    cursor: pointer;
}
    .themeTags #themeTag:hover{
        color:white;
        background-color: #547aa5;
    }

    #pathboxs{
      column-width:350px;
      column-gap: 15px;
    }
    #pathboxs figure{
      display: inline-table;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin: 0;
      margin-bottom: 25px;
      padding: 10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      position: relative;
    }
    #pathboxs figure img{
      width:100%;
    }
    #pathboxs figure figcaption{
      color: #ffffff;
      padding: 1em;
      line-height: 1;
      font-family: 'Nanum Brush Script', cursive;
      position: absolute;
      top: 15px;
      width: 100%;
      font-size: xx-large;
  }
